<% include partials/header %>

<div class="container-fluid">
    <div class="text-center">
        <p>Resource not found</p>
        <img src="/images/error/error.png" class="img-fluid" alt="" srcset="">

    </div>
</div>

<% include partials/footer %>