<html>
<title>
    Quote Garden Free API
</title>
<body>
    <p>All good go!</p>
    <p>Servers are working fine...</p>
    <p>API is running</p>
    <a href="https://pprathameshmore.github.io/QuoteGarden/">Learn how to use?</a>
</body>
</html>